{% extends "layout.jinja2" %}
{% block body %}
<ul class="sales">
    <li>Total Sales: {{ total_sales }}</li>
    <li>Number Sold: {{ number_sold }}</li>
    <li>
        Brands Sold: {% for brand in makes_sold %}
        {{ brand }}, 
        {% endfor %}
    </li>
</ul>
{% endblock %}